<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ex01.mapper.CartMapper">

	<resultMap id="cartMap" type="com.example.ex01.dto.CartDto" >
		<id property="cno" column="cno"/>
		<result property="ino" column="ino" />
		<result property="id" column="id" />
		<result property="amount" column="amount" />
		<result property="totalPrice" column="totalPrice" />
		<collection property="itemDto" column="itemDto" ofType="com.example.ex01.dto.ItemDto" resultMap="itemMap" notNullColumn="ino" />
	</resultMap>

	<resultMap id="itemMap" type="com.example.ex01.dto.ItemDto">
		<id property="ino" column="ino" />
		<result property="name" column="name" />
		<result property="price" column="price" />
		<result property="discount" column="discount" />
		<collection property="attachList" column="attachList" ofType="com.example.ex01.dto.AttachDto" notNullColumn="attachId"  >
			<id property="attachId" column="attachId" />
			<!-- <result property="ino" column="ino" /> -->
			<result property="filePath" column="filePath" />
			<result property="fileName" column="fileName" />
		</collection>
	</resultMap>
	
	<select id="subTotalPrice" resultType="int">
		<![CDATA[
			select nvl(sum(i.price * c.amount), 0) from cart c, item i
			where 1 = 1 
            and c.ino = i.ino
            and c.id = #{id}
        ]]>
	</select>

	<select id="getList" resultMap="cartMap">
	    <![CDATA[
            select /*+ index_desc(cart SYS_C007009) */
            c.cno, c.ino, c.id, c.amount, (i.price * c.amount) as totalPrice, 
            i.name, i.price, i.discount,
           	a.attachid, a.filePath, a.fileName
            from cart c
          	LEFT OUTER JOIN item i
    			ON c.ino = i.ino
			LEFT OUTER JOIN attach a
    			ON i.ino = a.ino
            where 1 = 1 
            and c.id = #{id}
        ]]>
	</select>
	
	<select id="getCount" resultType="int">
		<![CDATA[
			select count(*) FROM cart c
			where 1 = 1
			and c.ino = #{ino}
			and c.id = #{id}
        ]]>
	</select>

	<insert id="insert">
		<selectKey keyProperty="cno" resultType="long" order="BEFORE">
			select nvl(max(cno), 0) + 1 from cart
		</selectKey>
		
		<![CDATA[
			insert into cart(cno, ino, id, amount) 
			values(#{cno}, #{ino}, #{id}, #{amount})
        ]]>
	</insert>
	
	<!-- oracle 은 PL/SQL 구문인 DECLARE DEBIN ...; END; 를 붙여줘야 됨 -->
	<update id="update">
		<foreach collection="list" item="item" index="index" separator=";" open="DECLARE BEGIN" close="; END;">
			update cart
		   	<trim prefix="SET" suffixOverrides=",">
				<if test='item.amount != null'>amount = #{item.amount},</if>
			</trim>
			<where>
				1 = 1 
				and cno = #{item.cno}
			</where>
		</foreach>
	</update>
	
	<delete id="delete">
		<![CDATA[
			delete from cart
			where 1 = 1 
			and cno = #{cno}
        ]]>
	</delete>

</mapper>